<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Cafe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <h1>☕ Caffe Hub</h1>
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/menu">Menü</a></li>
            <li><a href="/contact">İletişim</a></li> 
          
        </ul>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Python Cafe - AI Powered (Coming Soon)</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>